

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

In [1]:
x=10
x

10

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [2]:
is_valid=True
is_valid

True

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [3]:
name="Python Programming"
name

'Python Programming'

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

In [5]:
sum_result=5 + 3
sum_result

8

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

In [6]:
a,b,c=5,10,15

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

In [7]:
x=y=2

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [8]:
gravity=9.8
gravity

9.8

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

In [9]:
country="Kenya"
country

'Kenya'

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

In [21]:
age = 25      
age = 26      
print(age)

26

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

In [11]:
a=20-7
a

13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
`

In [12]:
a=2
b=4.3

``

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

In [13]:
is_completed=False
is_completed

False

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

In [20]:
x = 5
y = 10


x, y = y, x

print("x =", x)
print("y =", y)

x = 10
y = 5

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

In [15]:
complex_num=3 + 4j
complex_num

(3+4j)

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

In [19]:
x = 10        
print(x)    

x = "Hello"   
print(x)

10
Hello

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [22]:
first_name="Lenick"
last_name="Nyabuto"

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [23]:
temperature=35.5

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

In [24]:
product=8 * 6
product

48

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

In [25]:
sentence="I am in Senegal"
sentence

'I am in Senegal'

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

In [26]:
int_value = int('50')
print(int_value)

50

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

In [27]:
quotient=144/12
quotient

12.0

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

In [28]:
remainder=47%5
remainder

2

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

In [29]:
is_student=True
is_student

True

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [30]:
a=45%4
a

1

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [31]:
pi=3.14159
pi

3.14159

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [33]:
length=6
width=7
area=length*width
area

42

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [34]:
negative_value=-8
negative_value

-8

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [35]:
greeting= "Hello, World!"
greeting

'Hello, World!'

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

In [36]:
population=12000000000
population

12000000000

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

In [37]:
a=2**8
a

256

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

In [38]:
fruits='apples','orange','mango'
fruits

('apples', 'orange', 'mango')

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

In [39]:
coordinates = (10, 20, 30)
print(coordinates)

(10, 20, 30)

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [40]:
person = { "name": "Lenick", "age": 25}

print(person)

{'name': 'Lenick', 'age': 25}

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [41]:
num1 = 5.7
num2 = 3.3
sum_result = num1 + num2

print(sum_result)

9.0

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

In [42]:
is_sunny=10 > 5
is_sunny

True

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

In [43]:
name = "Lenick"
age = 25

print(name, age)

Lenick 25

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

In [44]:
x = 10        
x = True      
print(x)

True

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [45]:
is_weekend=False
is_weekend

False

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [46]:
description = """This is a multi-line string.
It can span several lines.
Each line is part of the same string."""
print(description)

This is a multi-line string.
It can span several lines.
Each line is part of the same string.

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

In [47]:
number = -25
absolute_value = abs(number)

print(absolute_value)

25

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [48]:
floor_div_result=100 // 6
floor_div_result

16

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

In [50]:
num1 = 4.5      
num2 = 3        
mixed_sum = num1 + num2

print(mixed_sum)

7.5

---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

In [51]:
a = 10
b = 15

is_greater = a > b
print(is_greater)

False

---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

In [52]:
sentence = "Python programming is both powerful and easy to learn."
char_count = len(sentence)

print(char_count)

54

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [53]:
division_result=7/3
division_result

2.3333333333333335

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [54]:
speed = 100  # in kilometers per hour
print(speed)

100

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [56]:
x = 4
y = 3 * x + 5
y

17

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

In [57]:
num1 = 10
num2 = 20
num3 = 30

average = (num1 + num2 + num3) / 3

print(average)

20.0