# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1

In [1]:
x=list(range(1,11))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [2]:
fruits=("apple","banana","cherry")
fruits

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [3]:
numbers=[10,20,30,40]
my_list=tuple(numbers)
my_list

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [4]:
y={1,2,3,4,5}
y

{1, 2, 3, 4, 5}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [5]:
student={"name":"Alice","age":20,"grade":"A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [6]:
my_list=[10,20,30,40,50]
my_list[1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

In [7]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] ="mango"
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

--

In [8]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

-

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [9]:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
person

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
``

In [10]:
y=[i for i in range(0,10)]
y

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

`



### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [11]:
squares=[i**2 for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [12]:
even_tuple = tuple(i for i in range(2,11) if i%2==0)
even_tuple

(2, 4, 6, 8, 10)

In [13]:
even_tuple1 = tuple(i for i in range(2,11,2))
even_tuple1

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [14]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [16]:
numbers = {1, 2, 3, 4, 5}
3 in numbers

True

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [15]:
numbers = (10, 20, 30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16

In [20]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [1]:
def sum_of_list(numbers):
    return sum(numbers)

In [3]:
nums = [2, 6, 8, 3]
print(sum_of_list(nums))

19

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [6]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_elements = set(numbers)
print(unique_elements)

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [7]:
text = "hello"
char_list = list(text)
print(char_list)

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [12]:
def reverse_tuple(t):
    return t[::-1]
my_tuple = (1, 2, 3, 4)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [15]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [16]:
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [17]:
my_dict = {"a": 1, "b": 2, "c": 3}
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [18]:
letters = [chr(i) for i in range(97, 102)]
print(letters)

['a', 'b', 'c', 'd', 'e']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [19]:
numbers = [1, 2, 3]
letters = ["a", "b", "c"]

combined = list(zip(numbers, letters))
print(combined)

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [20]:
numbers = [10, 20, 30, 40, 50]
index_50 = numbers.index(50)
print(index_50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [21]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [22]:
def find_largest(numbers):
    return max(numbers)

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [23]:
fruits = ["apple", "banana", "apple", "orange"]
count_apple = fruits.count("apple")
print(count_apple)

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [25]:
person = { "name": "Alice","age": 25, "city": "New York"}

print(person["city"])

New York

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [1]:
def remove_duplicates(lst):
    """Return a new list with duplicates removed."""
    return list(set(lst))

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [2]:
def list_intersection(list1, list2):
    """Return a list of common elements, preserving the order from list1."""
    return [item for item in list1 if item in list2]

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [3]:
def square_generator():
    """Yield the squares of numbers from 1 to 10."""
    for i in range(1, 11):
        yield i ** 2

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [4]:
def sum_dict_values(d):
    """Return the sum of all values in the dictionary."""
    return sum(d.values())

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [5]:
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 3, 4, 5, 9]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [6]:
def longest_string(strings):
    """Return the longest string in the list."""
    return max(strings, key=len)

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [7]:
numbers = [1, 2, 3, 4, 5]
result = all(num > 0 for num in numbers)
print(result)

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [8]:
numbers_and_squares = [(x, x**2) for x in range(1, 6)]
print(numbers_and_squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [9]:
def get_second_elements(tuples_list):
    """Return a list of the second elements from each tuple."""
    return [t[1] for t in tuples_list]

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [10]:
def flatten_list(nested_list):
    """Return a single flattened list from a list of lists."""
    return [item for sublist in nested_list for item in sublist]

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [11]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [12]:
t = ()
if not t:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [14]:
even_numbers = list(range(2,21,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [15]:
def reverse_list(numbers):
    return list(reversed(numbers))

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [16]:
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [17]:
numbers = [1, 2, 2, 3, 4, 4, 5]

unique_numbers = list(set(numbers))

print(unique_numbers)

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [18]:
def get_values(dict_list, key):
    """Return a list of values for the given key from a list of dictionaries."""
    return [d[key] for d in dict_list if key in d]

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [19]:
def fibonacci(n):
    """Yield the Fibonacci sequence up to n terms."""
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [20]:
def unique_characters(s):
    """Return a list of all unique characters in the string."""
    return list(set(s))

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [21]:
def merge_sorted_lists(list1, list2):
    """Merge two sorted lists into a single sorted list."""
    merged = []
    i = j = 0

    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1

    merged.extend(list1[i:])
    merged.extend(list2[j:])
    return merged

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [23]:
numbers = [1, 2, 3, 4, 5, 6]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [24]:
pairs = [(1, 2), (3, 4), (5, 6)]

result = dict(pairs)

print(result)

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [25]:
def symmetric_difference(set1, set2):
    """Return the symmetric difference of two sets."""
    return set1 ^ set2

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [27]:
common = list(set(list1).intersection(list2, list3))

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [28]:
def factorial(n):
    """Return the factorial of a number using recursion."""
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [29]:
fruits = ["apple", "", "banana", "", "cherry"]

cleaned_list = [fruit for fruit in fruits if fruit != ""]

print(cleaned_list)

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [30]:
def swap_keys_values(d):
    """Return a new dictionary with keys and values swapped."""
    return {value: key for key, value in d.items()}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [31]:
def get_even_numbers(numbers):
    """Return a list containing only the even numbers."""
    return [num for num in numbers if num % 2 == 0]

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [32]:
def get_first_elements(tuples_list):
    """Return a list of the first elements from each tuple."""
    return [t[0] for t in tuples_list]

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [33]:
numbers = [1, 2, 2, 3, 4, 4, 5]

unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print(unique_numbers)

[1, 2, 3, 4, 5]

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [34]:
words = ["apple", "banana", "cherry"]

lengths = list(map(len, words))

print(lengths)

[5, 6, 6]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [35]:
numbers = [10, 20, 30, 40, 50]

average = sum(numbers) / len(numbers)

print("Average:", average)

Average: 30.0

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [36]:
def fibonacci_list(n):
    """Return a list of the first n Fibonacci numbers."""
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return fib[:n]

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [37]:
fruits = ["apple", "banana", "apple", "cherry"]

counts = {}
for fruit in fruits:
    counts[fruit] = counts.get(fruit, 0) + 1

print(counts)

{'apple': 2, 'banana': 1, 'cherry': 1}

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [38]:
numbers = [1, 2, 3, 2, 4, 2, 5]
value_to_remove = 2

result = [num for num in numbers if num != value_to_remove]

print(result)

[1, 3, 4, 5]

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [39]:
def strings_starting_with_vowel(words):
    """Return a list of strings that start with a vowel."""
    vowels = ('a', 'e', 'i', 'o', 'u')
    return [word for word in words if word.lower().startswith(vowels)]

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [44]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection = set1 & set2

print(intersection)

{3, 4, 5}

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [45]:
def flatten_list(nested_list):
    """Return a flattened version of a nested list."""
    flat = []
    for item in nested_list:
        if isinstance(item, list):
            flat.extend(flatten_list(item))  
        else:
            flat.append(item)
    return flat

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [46]:
numbers = [1, 2, 3, 4, 5]

is_unique = len(numbers) == len(set(numbers))

print(is_unique)

True

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [47]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)

print(product)

120

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [48]:
def strings_to_length_dict(strings):
    """Return a dictionary where keys are strings and values are their lengths."""
    return {s: len(s) for s in strings}

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [49]:
def count_vowels(s):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    return sum(1 for ch in s.lower() if ch in vowels)

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [50]:
import math

factorials = [(x, math.factorial(x)) for x in range(1, 6)]
print(factorials)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [51]:
dicts = [{"a": 1}, {"b": 2}, {"c": 3}]

merged_dict = {}
for d in dicts:
    merged_dict.update(d)

print(merged_dict)

{'a': 1, 'b': 2, 'c': 3}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [52]:
def is_subset(set1, set2):
    """Return True if set1 is a subset of set2."""
    return set1.issubset(set2)

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

In [54]:
data = [(1, 3), (2, 1), (4, 2), (3, 5)]

sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[(2, 1), (4, 2), (1, 3), (3, 5)]

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [55]:
def get_positive_numbers(numbers):
    """Return a list containing only positive integers."""
    return [n for n in numbers if n > 0]

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [56]:
def union_sets(set1, set2):
    """Return the union of two sets."""
    return set1.union(set2)

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [57]:
from functools import reduce

def product_of_list(numbers):
    """Return the product of all numbers in the list."""
    return reduce(lambda x, y: x * y, numbers)

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [59]:
chars = ['H', 'o', 'l', 'l', 'a']

# Convert list of characters to string
result = ''.join(chars)

print(result)

Holla

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [60]:
numbers = [10, 20, 4, 45, 99]

unique_numbers = list(set(numbers))
unique_numbers.sort()

second_largest = unique_numbers[-2]

print("Second largest number is:", second_largest)

Second largest number is: 45

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [61]:
def get_sorted_keys(d):
    """Return a list of dictionary keys in sorted order."""
    return sorted(d.keys())

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [62]:
from collections import Counter

numbers = [1, 2, 3, 2, 4, 2, 5, 3]

counter = Counter(numbers)

most_common = counter.most_common(1)[0][0]

print("Most common element:", most_common)

Most common element: 2

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [63]:
def sort_by_first_element(tuples_list):
    """Return a list of tuples sorted by the first element."""
    return sorted(tuples_list, key=lambda x: x[0])

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

In [65]:
data = [ {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Alice", "age": 25},  
    {"name": "Charlie", "age": 35},
    {"name": "Bob", "age": 30}     
]

unique_dicts = []
for d in data:
    if d not in unique_dicts:
        unique_dicts.append(d)

print(unique_dicts)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}, {'name': 'Charlie', 'age': 35}]

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [66]:
def find_min_max(numbers):
    """Return the minimum and maximum numbers in the list."""
    return min(numbers), max(numbers)

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

In [67]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

result = list(zip(list1, list2))

print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [68]:
def reverse_strings(strings):
    """Return a list of the strings in reverse order."""
    return [s[::-1] for s in strings]

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [69]:
def sum_of_odds(numbers):
    """Return the sum of all odd numbers in the list."""
    return sum(n for n in numbers if n % 2 != 0)

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [71]:
text = "sir"

text = text.lower()

if text == text[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is not a palindrome.

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [72]:
numbers = [3, 1, 4, 2, 5]

numbers.sort()

n = len(numbers)
mid = n // 2

if n % 2 == 0:
    median = (numbers[mid - 1] + numbers[mid]) / 2
else:
    median = numbers[mid]

print("Median:", median)

Median: 3

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

In [73]:
def sum_dict_values(dict_list):
    """Return a dictionary with the total value for each key."""
    total = {}
    for d in dict_list:
        for key, value in d.items():
            total[key] = total.get(key, 0) + value
    return total

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [74]:
from collections import Counter

numbers = [1, 2, 2, 3, 4, 4, 4, 5]

counter = Counter(numbers)

mode = [k for k, v in counter.items() if v == max(counter.values())]

print("Mode:", mode)

Mode: [4]

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [75]:
def sum_of_squares(numbers):
    """Return the sum of the squares of all numbers in the list."""
    return sum(n**2 for n in numbers)

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [76]:
cubes = [(x, x**3) for x in range(1, 6)]

print(cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

In [77]:
def primes_up_to(n):
    """Return a list of all prime numbers up to n."""
    primes = []
    for num in range(2, n + 1):
        # Check if num is prime
        if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
            primes.append(num)
    return primes

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [78]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 4, "c": 5, "d": 6}

# Find common keys
common_keys = set(dict1.keys()) & set(dict2.keys())

print("Common keys:", common_keys)

Common keys: {'b', 'c'}

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [79]:
def long_strings(strings):
    """Return a list of strings that contain more than 5 characters."""
    return [s for s in strings if len(s) > 5]

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [80]:
words = ["apple", "banana", "cherry", "kiwi"]

# Convert to list of tuples (string, length)
result = [(word, len(word)) for word in words]

print(result)

[('apple', 5), ('banana', 6), ('cherry', 6), ('kiwi', 4)]

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

In [81]:
def sum_dicts(dict_list):
    """Return a dictionary with the sum of values for each key across all dictionaries."""
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result